<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Account">
        <setting type="lsep" label="Account Credentials"/>
        <setting id="username" label="Username:" type="text" default=""/>
        <setting id="password" label="Password:" type="text" option="hidden" default=""/>
        <setting type="sep"/>
        <setting id="account.about" label="About..." type="action" action="RunPlugin(plugin://plugin.video.wsbeta/?action=actionAccountAbout)"/>
        <setting id="account.clear" label="Logout..." type="action" action="RunPlugin(plugin://plugin.video.wsbeta/?action=actionAccountLogout)"/>
    </category>
    <category label="General">
        <setting type="lsep" label="Last Watched"/>
        <setting id="lastwatched.use" label="Show &quot;Last Watched&quot; Menu" type="bool" default="true"/>
        <setting type="sep"/>
        <setting type="lsep" label="Thumbnails"/>
        <setting id="showThumbs" label="Show Series Thumbnails" type="bool" default="true"/>
        <setting id="showEpisodeThumbs" label="Show Episode Thumbnails" type="bool" default="false"/>
        <setting type="sep"/>
        <setting type="lsep" label="Episode Lists"/>
        <setting id="reverseEpisodes" label="Reverse Episode List Order" type="bool" default="false"/>
    </category>
    <category label="Playback">
        <!-- Based on the YouTube Kodi add-on (https://github.com/jdf76/plugin.video.youtube) -->
        <setting type="lsep" label="InputStream Adaptive is not yet enabled" visible="!System.HasAddon(inputstream.adaptive)"/>
        <setting id="adaptive.action1" label="Enable InputStream Adaptive..." type="action" visible="!System.HasAddon(inputstream.adaptive)" option="close" action="RunPlugin(plugin://plugin.video.wsbeta/?action=actionAdaptiveEnable)"/>
        <setting type="sep" visible="!System.HasAddon(inputstream.adaptive)"/>
        <setting id="adaptive.use" label="Use InputStream Adaptive for Playback" type="bool" default="false" enable="System.HasAddon(inputstream.adaptive)"/>
        <setting id="adaptive.action2" type="action" label="Configure InputStream Adaptive..." enable="eq(-1,true)" option="close" action="RunPlugin(plugin://plugin.video.wsbeta/?action=actionAdaptiveSettings)"/>
    </category>
</settings>