<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting type="lsep" label="Interface"/>
        <setting id="thumbnails" label="Load Episode Thumbnails" type="bool" default="true"/>
        <setting type="sep"/>
        <setting type="lsep" label="Playback"/>
        <setting id="autoplay" label="Autoplay" type="labelenum" default="Disabled" values="Disabled|240p|480p|720p|1080p"/>
        <setting id="qualityOrder" label="&quot;Select Quality&quot; Dialog Order" type="select" subsetting="true" default="480p, 720p, 1080p, 240p" enable="eq(-1,0)" values="480p, 720p, 1080p, 240p|720p, 1080p, 480p, 240p|1080p, 720p, 480p, 240p|240p, 480p, 720p, 1080p"/>
        <setting id="subtitles" label="Subtitles" type="labelenum" default="Disabled" values="Disabled|Select Via Dialog (when available)"/>        
    </category>
</settings>